.glowsmall {
  font-size: 50px;
  color: #00FFFF;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #00FFFF, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #FF0000, 0 0 50px #e60073, 0 0 60px #FF0000, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #00FFFF, 0 0 30px #00FFFF, 0 0 40px #00FFFF, 0 0 50px #00FFFF, 0 0 60px #00FFFF, 0 0 70px #00FFFF, 0 0 80px #00FFFF;
  }
}